.img-about {
    display: none;
  }
@media (min-width: 992px) {
    .logo-about {
        position: absolute;
    }
    .img-about {
        display: block;
      }
  }
#projects {
  background-color: #323232 !important;
}